.expando-searchbox:focus{
	width:160px;
	padding: 4px; 
	padding-left: 40px;
	cursor: text;
}
.expando-searchbox{
	width:0px;
	height: 40px;
	font-size:14px;
	font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: inherit;
	border: none;
	-webkit-transition:all 0.09s ease-in-out;
	margin-right: 54px;
}
.expando-label {
	cursor:pointer;
}
.expando-label::before {
	content :"\26B2";
	font-size: 40px;
	display: inline-block;
	position: relative;
	left:34px;
	top:1px;
	vertical-align: middle;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
