a:link {
    text-decoration: underline;
    color: black;
    
}
a:visited {
    text-decoration: underline;
    color: black;
}
a:hover {
    color: gray;
    text-decoration: underline;
}
a:active {
    color: gray;
    text-decoration: underline;
}
.content{
    width:100%;
    float:left;
    margin-right:-200px;
}
.info{
    width:178px;
    float:left;
    padding: 10px;
}
.sidebar{
    padding-top: 20px;
    margin-top: 20px;
}
.container {
    margin-left: 20px;
    margin-right: 20px;
}
.card, flight{
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: beige;
    border: 1px dashed lightseagreen;
    max-width: 40%;
}
.menuItem>a, .subMenuItem>a{
    font-size: 24px;
	text-decoration: none;
}
.active{
	opacity: .25;
}
.menuItem{
  font-size: 32px;
  display: inline-block;
  text-decoration: none;
  margin-left: 40px;
}
.subMenuItem{
  display: inline-block;
  text-decoration: none;
  margin-right: 20px;
  margin-bottom: 20px;
  vertical-align: top;
}
.menuItem:first-child {
  margin-left: 0px;
}
.subMenuItem:last-child {
  margin-right: 0px;
  margin-bottom: 0px;
}
.script{
    font-family: 'Bad Script', cursive;
}
.logo{
	border: 1px dashed black;
	padding-right: 10px;
	padding-left: 10px;
    margin-right: 0px;
}
.menubutton {
    font-size: 60px;
    cursor: pointer;
}
.post {
	width: 100% - 40px;
	margin-left: auto;
    margin-right:220px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 20px;
	margin-top: 20px;
    border: 1px dashed lightseagreen;
}
@media (max-width: 700px) {
    .menu, .sidebar{
        display: none;
    }
    .post {
        margin-right: 0px;
    }
    .mobile-menu{
        background-color: beige;
        margin: 0px;
        height: 64px;
        line-height: 64px;
        padding: 20px;
    }
    .mobile-menu-dropdown {
        background-color: beige;
        margin: 0px;
        padding: 20px;
        padding-left: 40px;
    }
}
@media (min-width: 700px) {
    .menu{
        background-color: beige;
        margin: 0px;
        height: 64px;
        padding: 20px;
        line-height: 64px;
    }
    .mobile-menu, .mobile-menu-dropdown{
        display: none;
    }
}
.textarea{
	padding: 15px;
	height: 40px;
	font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.textbox{
	padding: 3px;
	height: 40px;
	font-size: 16px;
	padding-left: 15px;
	padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.mobile-menu-dropdown .textbox {
    padding-bottom: 5px;
	height: 24px;
	font-size: 16px;
}
#searchbox {
    width: 166px;
}
.submenu{
	float:right;
    -webkit-padding-start: 0px;
}
h2{
    font-weight: 400;
}
.small{
	font-size: 14px;
}
.grey{
	color: #777;
}
#postEditor {
    width: 60%;
    height: 300px; 
}
.borderless {
    border: 0px;
}
.right {
    float: right;
}
body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
}
.title:visited, .title:hover, .title:active, .title:link {
    text-decoration: none;
}